---
import AboutText from './AboutText.astro';
import Technologies from './Technologies.astro';
import Services from './Services.astro';
import Timeline from './Timeline.astro';
import Skills from './Skills.astro';


const {
  name = "Richard Hanrick",
  title = "Web Developer",
  aboutText = [
    "I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media.",
    "My job is to build your website so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that it is eye-catching and easy to use."
  ],
  services = [
    { title: "Web design", text: "The most modern and high-quality design made at a professional level.", icon: "/assets/images/icon-design.svg" },
    { title: "Web development", text: "High-quality development of sites at the professional level.", icon: "/assets/images/icon-dev.svg" },
    { title: "Mobile apps", text: "Professional development of applications for iOS and Android.", icon: "/assets/images/icon-app.svg" },
    { title: "Photography", text: "I make high-quality photos of any category at a professional level.", icon: "/assets/images/icon-photo.svg" }
  ],
  education = [
    { title: "University school of the arts", period: "2007 — 2008", description: "Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti." },
    { title: "New York academy of art", period: "2006 — 2007", description: "Ratione voluptatem sequi nesciunt, facere quisquams facere menda ossimus." },
    { title: "High school of art and design", period: "2002 — 2004", description: "Duis aute irure dolor in reprehenderit in voluptate, quila voluptas mag odit aut fugit." }
  ],
  experience = [
    { title: "Creative director", period: "2015 — Present", description: "Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti." },
    { title: "Art director", period: "2013 — 2015", description: "Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti." },
    { title: "Web designer", period: "2010 — 2013", description: "Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti." }
  ],
  technologies = [
    { name: "Node.js", image: "/assets/images/nodejs.png" },
    { name: "Laravel", image: "/assets/images/laravel.png" },
    { name: "Unreal Engine", image: "/assets/images/unreal.png" },
    { name: "React", image: "/assets/images/react.png" },
    { name: "MySQL", image: "/assets/images/mysql.png" },
    { name: "Docker", image: "/assets/images/docker.png" },
  ],
  skills = [
    { title: "Web design", percent: 80 },
    { title: "Graphic design", percent: 70 },
    { title: "Branding", percent: 90 },
    { title: "WordPress", percent: 50 }
  ]
} = Astro.props;
---

<article class="about active" data-page="about">

  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <AboutText aboutText={aboutText} />

  <Technologies techList={technologies} />

  <Services services={services} />

  <Timeline title="Experience" items={experience} />
  <Timeline title="Education" items={education} />

  <Skills skills={skills} />

</article>

<script type="module" src="/assets/js/About.js"></script>