---
const {
  name="Bryan Guapulema",
  title="Backend Developer",
  avatar="/assets/images/avatar.png",
  email="bryan19012003@gmail.com",
  phone="+593 987613597",
  birthday = "2003-01-20",
  location = "Riobamba, Ecuador",
  socialLinks = [
    { name: "facebook", url: "https://www.facebook.com/bryan.guapulema.5" },
    { name: "whatsapp", url: "#" },
    { name: "github", url: "https://github.com/BryanGuapulemas" },
    { name: "linkedin", url: "https://www.linkedin.com/in/bryan-guapulema-91165226b" }
  ]
} = Astro.props;
---

<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src={avatar} alt={name} width="80" />
    </figure>

    <div class="info-content">
      <h1 class="name" title={name}>{name}</h1>
      <p class="title">{title}</p>
      <a href="/assets/CVBryanGuapulema.pdf" download class="title download-cv-btn">
        <ion-icon name="download-outline"></ion-icon>
        <span>Descargar CV</span>
      </a>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Mostrar Contactos</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box"><ion-icon name="mail-outline"></ion-icon></div>
        <div class="contact-info">
          <p class="contact-title">Correo</p>
          <a href={`mailto:${email}`} class="contact-link">{email}</a>
        </div>
      </li>      

      <li >
        <a href={`tel:${phone}`}>
          <div class="contact-item" >
            <div class="icon-box"><ion-icon name="phone-portrait-outline"></ion-icon></div>
              <div class="contact-info">
              <p class="contact-title">Teléfono</p>
              <p class="contact-link">{phone}</p>
            </div>
          </div>
        </a>
      </li>     

      <li class="contact-item">
        <div class="icon-box"><ion-icon name="calendar-outline"></ion-icon></div>
        <div class="contact-info">
          <p class="contact-title">Nacimiento</p>
          <time datetime={birthday}>{new Date(birthday).toLocaleDateString("es-ES", { month: "long", day: "numeric", year: "numeric" })}</time>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box"><ion-icon name="location-outline"></ion-icon></div>
        <div class="contact-info">
          <p class="contact-title">Lugar</p>
          <address>{location}</address>
        </div>
      </li>
    </ul>

    <div class="separator"></div>

    <ul class="social-list">
      {socialLinks.map(link => (
        <li class="social-item">
          <a href={link.url} class="social-link" target="_blank" rel="noopener noreferrer">
            <ion-icon name={`logo-${link.name}`}></ion-icon>
          </a>
        </li>
      ))}
    </ul>
  </div>
</aside>

<script type="module" src="/assets/js/Sidebar.js"></script>