---
const {
  name="Bryan Guapulema",
  title="Backend developer",
  avatar="/assets/images/my-avatar.png",
  email="bryan19012003@gmail.com",
  phone="+593 987613597",
  birthday = "2003-01-19",
  location = "Riobamba, Ecuador",
  socialLinks = [
    { name: "facebook", url: "#" },
    { name: "twitter", url: "#" },
    { name: "instagram", url: "#" }
  ]
} = Astro.props;
---

<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src={avatar} alt={name} width="80" />
    </figure>

    <div class="info-content">
      <h1 class="name" title={name}>{name}</h1>
      <p class="title">{title}</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box"><ion-icon name="mail-outline"></ion-icon></div>
        <div class="contact-info">
          <p class="contact-title">Email</p>
          <a href={`mailto:${email}`} class="contact-link">{email}</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box"><ion-icon name="phone-portrait-outline"></ion-icon></div>
        <div class="contact-info">
          <p class="contact-title">Phone</p>
          <a href={`tel:${phone}`} class="contact-link">{phone}</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box"><ion-icon name="calendar-outline"></ion-icon></div>
        <div class="contact-info">
          <p class="contact-title">Birthday</p>
          <time datetime={birthday}>{new Date(birthday).toLocaleDateString("en-US", { month: "long", day: "numeric", year: "numeric" })}</time>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box"><ion-icon name="location-outline"></ion-icon></div>
        <div class="contact-info">
          <p class="contact-title">Location</p>
          <address>{location}</address>
        </div>
      </li>
    </ul>

    <div class="separator"></div>

    <ul class="social-list">
      {socialLinks.map(link => (
        <li class="social-item">
          <a href={link.url} class="social-link" target="_blank" rel="noopener noreferrer">
            <ion-icon name={`logo-${link.name}`}></ion-icon>
          </a>
        </li>
      ))}
    </ul>
  </div>
</aside>

<script type="module" src="/assets/js/Sidebar.js"></script>